.sports_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.sports_card {
  width: 90px;
  height: 90px;
}

.sports_img {
  width: 72px;
  height: 72px;
}

.sports_name {
  text-align: center;
}

.sports_check_img {
  width: 32px;
  height: 32px;
  /* position: absolute; */
  /* bottom: 10px;
  left: 115%;
  margin-left: -105px; */
}

.cnt_btn {
  width: 20px;
  height: 20px;
}
