/* Home.css */
.home {
    padding: 10px;
}

.mainButton{
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    margin: 20px;
}

.homeTitle {
    font-size: 1.5em;
    font-weight: bold;
    margin: 1%;
}


.contents_box_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr; 

}
.contentsBox{
    background-color: lightgray;
    text-align: center;
     margin: 10px;
}

.health_img {
    width: 120px;
    margin: 10px;
}